using Domain.Common;
using {{CqrsNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}}.Commands;
using {{EntityNamespace}};
using Shared.Constants;

namespace {{TestNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}}.Commands;

{{#Entity}}
public class Delete{{Name}}CommandTest : MockWriteRepositoryTestBase<{{Name}}>
{
    private readonly Delete{{Name}}CommandHandler _handler;

    public Delete{{Name}}CommandTest()
    {
        _handler = new Delete{{Name}}CommandHandler(UnitOfWork);
    }

    [Fact]
    public async Task ShouldDelete()
    {
{{#EntityFields}}
        {{{Mock}}}
{{/EntityFields}}

        await Repository.InsertAsync(new {{Name}}
        {
{{ParamInitNonObject}}
        });
        await UnitOfWork.SaveChangesAsync();

        int id = await Repository.GetFirstOrDefaultAsync(predicate: {{VarAbbr}} => {{VarAbbr}}.{{FieldToCheckCreate}} == {{VarToCheckCreate}}, selector: {{VarAbbr}} => {{VarAbbr}}.Id);

        var command = new Delete{{Name}}Command { Ids = [id] };
        var response = await _handler.Handle(command, CancellationToken.None);

        response.Message.Should().Be(MessageCommon.DeleteSuccess);
        (await Repository.GetFirstOrDefaultAsync(predicate: {{VarAbbr}} => {{VarAbbr}}.{{FieldToCheckCreate}} == {{VarToCheckCreate}}))
            .Should()
            .BeNull();
    }

    [Fact]
    public async Task ShouldThrowNotFoundException()
    {
        var command = new Delete{{Name}}Command { Ids = [99] };
        int itemsCount = await CountAsync();
        await _handler.Handle(command, CancellationToken.None);

        (await CountAsync()).Should().Be(itemsCount);
    }
}{{/Entity}}