using {{CqrsNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}}.Commands;
using {{ValidationNamespace}};

namespace {{CqrsNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}}.Validators;

{{#Entity}}
public class Delete{{Name}}CommandValidator : DeleteValidator<Delete{{Name}}Command, {{IdType}}>;{{/Entity}}