using Domain.Common.Contracts;
using System.ComponentModel.DataAnnotations;
using Domain.Common;

namespace {{EntityNamespace}};

{{#Entity}}
public class {{Name}} : AuditableEntity, IAggregateRoot
{
{{#EntityFields}}
    {{! Attributes }}
    {{#HasMaxLength}}[MaxLength({{MaxLength}})]{{/HasMaxLength}}
    {{#IsRequired}}[Required]{{/IsRequired}}
    public {{Type}}{{^IsRequired}}?{{/IsRequired}} {{Name}} { get; set; }{{#HasDefaultValue}} = {{DefaultValue}};{{/HasDefaultValue}}

{{/EntityFields}}
{{> Update }}
}{{/Entity}}