using Domain.Common.Contracts;
using System.ComponentModel.DataAnnotations;
using Domain.Common;

namespace {{EntityNamespace}};

public class {{#Entity}}{{Name}}{{/Entity}} : AuditableEntity<{{IdType}}>, IAggregateRoot
{{#Entity}}
{
{{#EntityFields}}
    {{! Attributes }}
    {{#HasMaxLength}}[MaxLength({{MaxLength}})]{{/HasMaxLength}}
    {{#IsRequired}}[Required]{{/IsRequired}}
    public {{Type}}{{^IsRequired}}?{{/IsRequired}} {{Name}} { get; set; }{{#HasDefaultValue}} = {{DefaultValue}};{{/HasDefaultValue}}

{{/EntityFields}}
{{> Update }}
}{{/Entity}}