using {{CqrsNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}}.Queries;
using Application.Common.Specification;
using {{DtoNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}};
using Ardalis.Specification;
using {{EntityNamespace}};

namespace {{CqrsNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}}.Specs;

{{#Entity}}
public sealed class Export{{Name}}Spec(Export{{Name}}Command command)
    : BaseExportSpec<{{Name}}, Search{{Name}}Param>(command, new {{Name}}ByConditionSpec(command.Query, false));{{/Entity}}