using {{CqrsNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}}.Queries;
using Application.Common.Specification;
using {{DtoNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}};
using Ardalis.Specification;
using {{EntityNamespace}};

namespace {{CqrsNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}}.Specs;

{{#Entity}}
public sealed class {{Name}}ByConditionSpec : BaseSpec<{{Name}}, {{Name}}Dto>, ISingleResultSpecification<{{Name}}>
{
    public {{Name}}ByConditionSpec(Search{{Name}}Param request, bool? useDefaultOrderBy = null)
        : base(request, useDefaultOrderBy: useDefaultOrderBy)
    {
{{{ParamValidation}}}
    }
}{{/Entity}}