using Application.Common.Models;
using Domain.Common;

namespace {{ParamNamespace}};

{{#Entity}}
public class Search{{Name}}Param : PaginationFilter
{
{{#EntityFields}}
    public {{Type}}? {{Name}} { get; set; }
{{/EntityFields}}
}{{/Entity}}