using Application.Common.Persistence;
using {{CqrsNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}}.Commands;
using {{EntityNamespace}};
using FluentValidation;

namespace {{CqrsNamespace}}.{{#Entity}}{{NamePlural}}{{/Entity}}.Validators;

{{#Entity}}
public class Update{{Name}}CommandValidator : {{Name}}ValidatorBase<Update{{Name}}Command>
{
    public Update{{Name}}CommandValidator(IReadRepository<{{Name}}> {{VarName}}Repository)
    {
        RuleFor(x => x.Id)
            .NotEmpty();
    }
}{{/Entity}}